# Ignore virtual environment
venv/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore build and distribution files
dist/
build/

# Ignore logs
logs/

# Ignore temporary files
*.log
*.tmp

# Ignore database files
*.sqlite3
*.sqlite3-journal

# Ignore Docker-related files
docker-compose.yml~
Dockerfile~

# Ignore system files
.DS_Store

# Ignore PyCharm project files
*.iml

# Ignore requirements.txt
requirements.txt~

# Ignore tests coverage reports
coverage/

# Ignore local settings
local_settings.py

# Ignore static and media files
static/
media/

# Ignore PyInstaller files
.pyInstaller/

# Ignore PyLint cache
.pycache/

# Ignore Jupyter notebooks
*.ipynb_checkpoints/

# Ignore GitLab CI configuration
.gitlab-ci.yml~

# Ignore GitHub Actions configuration
.github/workflows/*.yml~

# Ignore Docker build cache
.docker/